.container {
  min-height: 100vh;
}

.firstDiv {
  max-height: 14rem;
  margin: 2rem auto;
  background-color: white;
  width: 90%;
  border-radius: 12px;
  padding: 2rem;
}


.cartTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 1.5rem;
}

.cartlayer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.buttonDiv {
  width: 10rem;
  display: flex;
  height: 3rem;
  align-items: center;
  border-radius: 12px;
}

.buttonDiv *{
  font-size: large;
}

.countDiv{ 
  display: flex;
  align-items: center;
}

.footer{
  width: 80%;
  margin: 0 auto;
}


.available{
  color: green;
  font: 12px;
}


@media (375px <= width <= 1200px) {
  *{
    font-size: x-small;
  }
  .firstDiv{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    justify-items: center;
    gap: 3rem;
    width: 80%;
  }
  .cartlayer img { 
    width: 15vh;
    height: 15vh;
  }
  .displayNone{
    display: none;
  }
  .cardBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer{
    width: 80%;
    margin: 0 auto;
  }
  .cardBody span h4:last-child{
    color: green;
  }
  .cartTitle {
    width: 100%;
    font-size: 1rem;
  }
}
