.firstDiv {
  height: 100vh;
}

.parendDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageDiv img {
  margin: 0 auto;
  width: 9rem;
  height: 9rem;
}
.imageDiv h6 {
  font-size: 2rem;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min(50vh);
}

.infoDiv tr th {
  color: green;
  font-size: 20px;
  font-weight: 400;
}
.infoDiv tr td {
  font-size: 18px;
}

.userInfo {
  width: 50%;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
}

.secUserInfo {
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
}

.noneInfo {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  margin: 0 auto
}


@media (width <= 991px) {
  .infoDiv tr th {
    color: green;
    font-size: 11px;
    font-weight: 400;
  }
  .infoDiv tr td {
    font-size: 6px;
    font-weight: 500;
  }
  .infoDiv {
    height: 40vh;
    align-items: center;
    justify-content: center;
  }  
  .mobileview{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mobileview div{
    height: 40vh;
    width: 60vw;
  }
  .parendDiv{
    width: 100%;
    margin-inline: auto;
  }
  .infoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
  }
  .showbutton{
    display: none;
  }
}


@media (992px <= width <= 1680px) {
  .infoDiv{
    height: 40vh;
  }
}