.card {
  height: 80dvh;
  border-radius: 1rem;
}

.section{
  height: min(120vh,150vh);
}

.container{
  min-height: 80vh;
}

.signUpButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpButton button{
  width: 50%;
}

@media (width <= 992px) {
  .card {
    height: 100svh;
  }
  .section{
    height: min(120dvh);
  }
}

@media (993px <= width <= 1600px) {
  .card {
    height: 90%;
  }
  .section{
    height: min(110dvh);
  }
}